<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .card {
        width: 200px;
        height: auto;
        transition: background-color 1s ease-in;
        background-color: #fff;
        background-image: linear-gradient(transparent, rgb(234, 193, 228));
      }
      .card-3 {
        background-color: red;
      }
    </style>
  </head>
  <body>
    <div class="card">
      <div class="card card-1"></div>
      <div class="card card-2"></div>
      <div class="card card-3">
        <h1>Hello</h1>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo magni
          doloremque quaerat corporis sint distinctio nulla repudiandae itaque
          corrupti, dolorem molestiae vero nobis necessitatibus atque odio
          libero repellat. Odio, illo.
        </p>
      </div>
      <div class="card card-4"></div>
      <div class="card card-5"></div>
    </div>
    <script>
      const card3 = document.querySelector(" .card-3");
      let size = card3.classList.length;
      console.log(card3.classList);
     /*
      card3.classList.add("flip", "flipped");
      card3.classList.remove("flip");
     */

      card3.addEventListener("click", () => {
        card3.classList.toggle("red");
      });

      //ard3.classList.replace("card-3", "card-45");
    </script>
    <script src="../js/script.js"></script>
  </body>
</html>
